# Ignore virtual environment folder
venv/

# Ignore all files in creds folder
_creds/*.json

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment variables
.env

# Ignore log files
*.log

# Ignore other files
*.DS_Store

# Ignore this planning doc
target_project_structure.md